<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>회원가입 페이지</h1>
    <form action="./server/insertUser" method="POST">
        id: <input type="text" name="id"><br>
        passwd: <input type="password" name="passwd">
        <button type="submit">등록</button>
    </form>
</body>
</html>