<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="/server/findUser" method="post">
        찾으시고자 하는 User의 ID를 입력하세요
        <input type="searchBox" type="text" name="searchWord">
        <button type="submit">검색</button>
    </form>
</body>
</html>